body{
    background-image: url(../img/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 22px;
    font-weight: bold;
}
.pendu{
    margin: 0 auto;
    text-align: center;
}
.input{
    margin: 0 auto;
}
.input label, .input input, .input textarea{
    display: block;
    width: 100%;
}
button{
    width: 250px;
    height: 50px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 15px;
}
button:first-child{
    background: red;
}
button:last-child{
    background: rgb(60, 145, 60);
}


